<div id='footer'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-4 col-md-4 col-sm-12'>
                <%= t('all_rights_reserved') %>
            </div>
            <div class='col-lg-4 col-md-4 col-sm-12' style='text-align:center;'>
                <i class="fab fa-facebook fa-lg" aria-hidden="true" style='cursor:pointer;'></i>
                <i class="fab fa-twitter-square fa-lg" aria-hidden="true" style='cursor:pointer;'></i>
                <i class="fab fa-google-plus-square fa-lg" aria-hidden="true" style='cursor:pointer;'></i>
                <i class="fab fa-instagram fa-lg" aria-hidden="true" style='cursor:pointer;'></i>
            </div>
            <div class='col-lg-4 col-md-4 col-sm-12'>
                <span style='float:right;'><%= t('developed_by_qbit') %></span>
            </div>
        </div>
    </div>
</div>